body {
	padding-top: 90px;
	padding-bottom: 50px;
	text-rendering: optimizelegibility;
}

a:hover,
a:focus {
	text-decoration: none;
}

.badge {
	border-radius: 2px;
	font-weight: normal;
}

.panel,
.card {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0 0 16px 0;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.card-image {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
}

.card-caption {
	padding: 16px 16px 6px 16px;
}

.card-title {
	padding: 0;
	margin: 0 0 8px 0;
}

.card-footer {
	padding: 16px;
	border-top: 1px solid #eee;
	text-transform: uppercase;
}

.card-footer a {
	margin-right: 16px;
}

.navbar-default {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-default .navbar-brand {
	padding: 4px 12px;
}

.navbar-default .navbar-form {
	border-color: #def300;
	margin-top: 0;
	margin-bottom: 0;
}

 /* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-moz-column-gap: 16px;
		-webkit-column-gap: 16px;
		column-gap: 16px;
	}

	.navbar-default .navbar-form {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
		-moz-column-gap: 16px;
		-webkit-column-gap: 16px;
		column-gap: 16px;
	}
}

.fancybox-skin {
	border-radius: 2px;
}